@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Changes */
html,
body {
    background: linear-gradient(90deg, burlywood, white);
    height: 100%;
    width: 100%;
    font-size: 10px;
    /* font-family: Arial, sans-serif; */
}

main {
    overflow: hidden;
    /* overflow: scroll; */
    /* vertical scrolling enable */
    /* overflow-y: auto; */
}

h2 {
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    background: linear-gradient(90deg, rgb(63, 36, 1), burlywood);
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    background-color: rgb(63, 36, 1);
    font-size: 2rem;
    position: relative;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left ul,
.nav-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-left {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.nav-toggle {
    display: none;
}

nav a:hover {
    /* border-bottom: .2rem solid rgb(63, 36, 1); */
    background-color: burlywood;
    color: black;
    transition: 0.25s all ease;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    /* text-align: center; */
    font-size: 4rem;
    font-weight: 700;
}

.image_text_btn {
    /* color: rgb(63, 36, 1); */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 3rem;
    margin-left: 4rem;
    max-width: 100%;
    margin-bottom: 0;
}

.image_text_btn .img {
    max-width: 50vw;
}

.image_text_btn img {
    width: 100%;
    aspect-ratio: 3/2.2;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px black, inset 0px 0px 2px rgba(255, 255, 255, 0.623);
    /* box-shadow: 0 0 10px #888; */
}

.image_text_btn img:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.6s ease-out;
}

.image_text_btn .text_btn {
    max-width: 50vw;
    padding: 1rem;
}

/* .image_text_btn .text_btn{
    padding: 1rem;
} */

.ml10 {
    position: relative;
    font-weight: 800;
    font-size: 7rem;
    /* line-height: 8rem; */
    /* font-size: 4.8rem; */
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2rem;
    padding-right: 0.05rem;
    padding-bottom: 0.1rem;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1rem;
    transform-origin: 0 0;
}

.history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 3rem;
    /* margin-right: 4rem; */
    max-width: 100%;
}

.history .content-box {
    max-width: 60vw;
    padding: 1rem;
}

.history .history-img {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 40vw;
}

.history .history-img h3 {
    /* padding: 0; */
    color: rgb(63, 36, 1);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.history .history-img img {
    width: 100%;
    border-radius: 2rem;
    transform: scale(0.61);
    box-shadow: -5px 5px 10px black, inset 0px 0px 2px rgba(255, 255, 255, 0.623);
}

.history img:hover {
    cursor: pointer;
    transform: scale(0.62);
    transition: all 0.6s ease-out;
}

#about {
    border-bottom: none;
}

.content-box {
    margin-bottom: 2rem;
}

.content-box h2 {
    color: rgb(63, 36, 1);
    /* text-align: center; */
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.content-box h3 {
    color: rgb(63, 36, 1);
    /* text-align: center; */
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

.content-box p {
    /* text-align: center; */
    font-size: 1.6rem;
}

.content-box {
    border: 2px solid #000;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    width: 80%;
    background: white;
    box-shadow: 0 0 10px #888;
    /* box-shadow: -10px 10px 10px black, inset 0px 0px 2px rgba(255, 255, 255, 0.623); */
    border-radius: 1rem;
    font-family: Arial, sans-serif;
}

.for-more {
    color: rgb(63, 36, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.for-more h2 {
    font-size: 4rem;
    font-weight: 600;
}

.for-more a {
    text-decoration: none;
    color: rgb(63, 36, 1);
    padding: 1.5rem;
}

.for-more a:hover {
    cursor: pointer;
    color: royalblue;
}

footer {
    font-size: 1.5rem;
    background: linear-gradient(90deg, rgb(63, 36, 1), burlywood);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer ul {
    list-style-type: none;
}